@import "tailwindcss";

:root {
  --primary: #007AB9;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #000000;
  color: #ffffff;
  font-family: Arima;
}

.container {
  @apply max-w-[96%] md:max-w-[92%] lg:max-w-[86%] mx-auto px-4 sm:px-6 lg:px-8;
}